<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>About</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5"> <!-- col-lg-*: spanning width -->
                <div class="card border-0"> <!-- border-0: remove the border -->
                    <div class="card-body text-center">
                        <h2 class="card-title">GROUP NAME</h2>
                        <ul class="list-group">
                            <li class="list-group-item">Total Commits: {{ group_stats.commits }}</li>
                            <li class="list-group-item">Total Issues: {{ group_stats.issues }}</li>
                            <li class="list-group-item">Total Unittests: 0</li>
                        </ul>

                        <a href="https://www.postman.com" class="card-link">POSTMAN API LINK (do we need one?)</a>
                        <a href="https://gitlab.com/kkx2402GL/cs331e-idb/-/issues" class="card-link">GitLab Issue Tracker</a>
                        <a href="https://gitlab.com/kkx2402GL/cs331e-idb" class="card-link">GitLab Repository</a>
                        <a href="https://gitlab.com/kkx2402GL/cs331e-idb/-/wikis/technical_report" class="card-link">Gitlab Wiki</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TODO: make the card centered on the screen when the screen is small -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center">
            {% for name in member_stats %}
            <div class="col"> <!-- Each card takes half of the row width on medium screens and above -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ member_stats[name].image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ name }}</h5>
                        <p class="card-text">{{ member_stats[name].bio }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Major Responsibilities: {{ member_stats[name].responsibilities }}</li>
                        <li class="list-group-item">Commits: {{ member_stats[name].commits }}</li>
                        <li class="list-group-item">Issues: {{ member_stats[name].issues }}</li>
                        <li class="list-group-item">Unittests: {{ member_stats[name].unittests }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- DATA SOURCES -->
    <div class="container">
        <div class="card-body text-center"> <!-- text-center: center align the content -->
                <h2 class="card-title">Data Sources</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center">
            {% for name in member_stats %}
            <div class="col"> <!-- Each card takes half of the row width on medium screens and above -->
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">data source name</h5>
                        <p class="card-text">description of how each was scraped</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://gitlab.com/kkx2402GL/cs331e-idb/-/wikis/technical_report" class="card-link">links to the data sources</a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- TOOLS -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5"> <!-- col-lg-*: spanning width -->
                <div class="card border-0"> <!-- border-0: remove the border -->
                    <div class="card-body text-center">
                        <h2 class="card-title">Tools</h2>
                        <ul class="list-group">
                            <li class="list-group-item">Total Commits: {{ group_stats.commits }}</li>
                            <li class="list-group-item">Total Issues: {{ group_stats.issues }}</li>
                            <li class="list-group-item">Total Unittests: 0</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>