<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <style>
        #name{
        	text-align: center
        }
        .info{
            text-align: center
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        table, th, td {
            border:1px solid black;
            margin-left: 25%;
            margin-right: 25%;
        }
    </style>
    <title>Activity</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <table>
        <tr><td><h2 id="name">{{activity.name}}</h2></td></tr>
        <!-- Add slideshow/carousel later -->
        <tr><td><img src="{{activity.pictures[0]}}"></td></tr>
        <tr><td><div class="info"><span>{{activity.description}}</span></div></td></tr>
        <tr><td><div class="info"><span>{{activity.rating}}</span></div></td></tr>
        <tr><td><div class="info"><span>{{activity.price.amount}}</span>&nbsp<span class="info">{{activity.price.currencyCode}}</span></div></td></tr>
        <tr><td><div class="info"><a href="{{activity.bookingLink}}">Link</a></div></td></tr>
        <tr><td><div class="info"><span>{{activity.city}}</span></div></td></tr>

    </table>
    {% endblock %}

</body>
</html>