<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .main{
            margin:2%
        }
    </style>
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="main">
    <h1>Flights</h1>
        <table id="flights" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Departure Airport</th>
                    <th scope="col">Arrival Airport
                    <th scope="col">Arrival City</th>
                    <th scope="col">Price</th>
                    <th scope="col">Seats Left</th>
                    <th scope="col">Duration</th>
                    <th scope="col"># of Legs</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Airline</th>
                    <th scope="col">More Info</th>

                </tr>
            </thead>
            {% for f in flights[(page-1)*10:page*10] %}
                <tr>
                    <td><div>
                        <span>{{ f.id}}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.departure_airport }}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.arrival_airport }}</span>
                    </div></td>
                    <td><div>
                        <a href="{{ url_for('city', iataCode=f.arrival_city) }}">
                            {{ f.arrival_city }}
                        </a><br>
                    <td><div>
                        <span>${{f.price}}</span>
                    </div></td>
                    <td><div>
                        <span>{{f.seats_left}}</span>
                    </div></td>
                    <td><div>
                            <span>{{f.duration}}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.num_legs }}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.departure_time }}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.arrival_time }}</span>
                    </div></td>
                    <td><div>
                        <span>{{ f.airline }}</span>
                    </div></td>
                    <td><div>
                        <a href="{{url_for('single_flight', flight_id=f.id)}}">More Info</a><br>
                    </div></td>
                
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{url_for('flights', page=1)}}">&laquo</a></li>
                <li class="page-item"><a class="page-link" href="{{url_for('flights', page=page-1)}}">&lt</a></li>
                {% for i in range([page-5, 1]|max, [page+6, flights|length//10+2]|min) %}
                <li class="page-item {% if i==page %}active{% endif %}"><a class="page-link" href="{{url_for('flights', page=i)}}">{{i}}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link" href="{{url_for('flights', page=page+1)}}">&gt</a></li>
                <li class="page-item"><a class="page-link" href="{{url_for('flights', page=flights|length//10+1)}}">&raquo</a></li>
            </ul>
        </nav>
        </div>
    {% endblock %}
</body>
</html>