<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .main{
            margin:2%
        }
    </style>
    <meta charset="UTF-8">
    <title>Hotels</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="main">
    <h1>Hotels</h1>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                <th scope="col">Name of Hotel
                    <a href="{{url_for('hotels', page=page, order_by='name', desc=False, attr=attr, value=value)}}"><i class="bi bi-arrow-up"></i></a>
                    <a href="{{url_for('hotels', page=page, order_by='name', desc=True, attr=attr, value=value)}}"><i class="bi bi-arrow-down"></i></a>
                </th>
                <th scope="col">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">City</a>
                    <ul class="dropdown-menu">
                        {% for i in city_list %}
                        <li><a class="dropdown-item" href="{{url_for('hotels', page=1, order_by=order_by, desc=desc, attr='iataCode', value=i)}}">{{city_list[i].name}}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="{{url_for('hotels', page=page, order_by='iataCode', desc=False, attr=attr, value=value)}}"><i class="bi bi-arrow-up"></i></a>
                    <a href="{{url_for('hotels', page=page, order_by='iataCode', desc=True, attr=attr, value=value)}}"><i class="bi bi-arrow-down"></i></a>
                </th>
                <th scope="col">Rating
                    <a href="{{url_for('hotels', page=page, order_by='rating', desc=False, attr=attr, value=value)}}"><i class="bi bi-arrow-up"></i></a>
                    <a href="{{url_for('hotels', page=page, order_by='rating', desc=True, attr=attr, value=value)}}"><i class="bi bi-arrow-down"></i></a>
                </th>
                </tr>
            </thead>
            {% for i in hotel_list %}
                <tr>
                    <td class="w-75"><div>
                        <a href="{{url_for('this_hotel', hotel_id=i)}}">{{hotel_list[i].name}}</a><br>
                    </div></td>
                    <td><div>
                        <a href="{{url_for('city', iataCode=hotel_list[i].iataCode)}}">{{hotel_list[i].iataCode}}</a><br>
                    </div></td>
                    <td><div>
                        <span>{{hotel_list[i].rating}} / 5</span><br>
                    </div></td>
                </tr>
            {% endfor %}   
        </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="{{url_for('hotels', page=1, order_by='name', desc=False, attr=attr, value=value)}}">&laquo</a></li>
            <li class="page-item"><a class="page-link" href="{{url_for('hotels', page=[page-1, 1]|max, order_by=order_by, desc=desc, attr=attr, value=value)}}">&lt</a></li>
            {% for i in range([page-5, 1]|max, [page+6, hotel_list|length//10+2]|min) %}
            <li class="page-item {% if i==page %}active{% endif %}"><a class="page-link" href="{{url_for('hotels', page=i, order_by=order_by, desc=desc, attr=attr, value=value)}}">{{i}}</a></li>
            {% endfor %}
            <li class="page-item"><a class="page-link" href="{{url_for('hotels', page=[page+1, (count-1)//10+1]|min, order_by=order_by, desc=desc, attr=attr, value=value)}}">&gt</a></li>
            <li class="page-item"><a class="page-link" href="{{url_for('hotels', page=(count-1)//10+1, order_by=order_by, desc=desc, attr=attr, value=value)}}">&raquo</a></li>
        </ul>
    </nav>
    </div>
    {% endblock %}
</body>
</html>