<!DOCTYPE html>
<html lang="en">
<head>
      <style>
        #name{
        	text-align: center
        }
        .info{
            text-align: center
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    </style>

    <meta charset="UTF-8">
    <title>Single Flight</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <br>
    <div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
    <table class="table table-bordered table-sm">

        <tr><td colspan="3"><h2 id="name">Flight Information</h2></td></tr>
        <tr>
            <td><div class="attribute"><span>Departure Airport: </span></div></td>

            <td><div class="info"><span>{{ flight.departure_airport}}</span></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Arrival Airport: </span></div></td>
            <td><div class="info"><span>{{ flight.arrival_airport }}</span></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Arrival City: </span></div></td>
            <td><div class="info"><a href="{{ url_for('city', iataCode=flight.arrival_city) }}">{{ flight.arrival_city }}</a></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Price: </span></div></td>
            <td><div class="info"><span>${{flight.price}}</span></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Seats Left: </span></div></td>
            <td><div class="info"><span>{{flight.seats_left}}</span></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Duration: </span></div></td>
            <td><div class="info"><span>{{flight.duration}}</span></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Stops: </span></div></td>
            <td><div class="info"><span>{{flight.num_legs-1}}</span></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Departure Time: </span></div></td>
            <td><div class="info"><span>{{flight.departure_time}}</span></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Arrival Time: </span></div></td>
            <td><div class="info"><span>{{flight.arrival_time}}</span></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Airline: </span></div></td>
            <td><div class="info"><span>{{flight.airline}}</span></div></td>
        </tr>
        
        <tr>
            <td><div class="attribute"><span>Find Things to do / Activities:</span></div></td>
            <td>
                <div class="info"><a href="{{url_for('activities', page=1, order_by='id', desc=False, attr='iataCode', value=flight.arrival_city)}}">Activities</a></div>
            </td>
        </tr>

        <tr>
            <td><div class="attribute"><span>Find Somewhere to Stay:</span></div></td>
            <td>
                <div class="info"><a href="{{url_for('hotels', page=1)}}">Hotels</a></div>
            </td>
        </tr>

    </table>

    <br>

    <h3>Schedule</h3>
    <br>

    <table id="flights" class="table table-striped" style="width:100%">
        <thead>
            <tr>
            
              <th scope="col">Flight ID</th>
              <th scope="col">Flight Number</th>
              <th scope="col">Departure Airport</th>
              <th scope="col">Departure Time</th>
              <th scope="col">Arrival Airport</th>
              <th scope="col">Arrival Time</th>
              <th scope="col">Arrival Terminal</th>
              <th scope="col">Flight Duration</th>
              <th scope="col">Airline</th>
            
            </tr>
        </thead>

        {% for leg in fd %}
            <tr>

                <td><div>
                    <span>{{leg.flight_group}}</span>
                </div></td>

                <td><div>
                    <span>{{leg.flight_number}}</span>
                </div></td>

                <td><div>
                    <span>{{leg.departure_airport}}</span>
                </div></td>

                <td><div>
                    <span>{{leg.departure_time}}</span>
                </div></td>

                <td><div>
                    <span>{{leg.arrival_airport}}</span>
                </div></td>

                <td><div>
                    <span>{{leg.arrival_time}}</span>
                </div></td>

                <td><div>
                    <span>{{leg.arrival_terminal}}</span>
                </div></td>

                <td><div>
                    <span>{{leg.flight_duration}}</span>
                </div></td>

                <td><div>
                    <span>{{leg.airline}}</span>
                </div></td>
                
            </tr>
        {% endfor %}
        </table>
    </div>
    </div>
    {% endblock %}
</body>
</html>