<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <style>
        #name{
        	text-align: center
        }
        .info{
            text-align: center
        }
    </style>
    <title>This_Hotel</title>
</head>

<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <br>
    <div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
    <table class="table table-bordered table-sm">

        <tr>
            <td colspan="3">
                <h2 id="name">{{hotel.name}}</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                {% if hotel.iataCode == 'BER' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=12PsPpVgGHzeOmJqsnXDv0NLI-9KbLts&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
        
                {% elif hotel.iataCode == 'NYC' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/embed?mid=1p5V9-HnIHkEsSwUIAohcAZWTZVnekLM&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                
                {% elif hotel.iataCode == 'MAD' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1i32QMbNVx0rK0VCxCHul8-wkY89dBJo&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

                {% elif hotel.iataCode == 'FCO' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1CTNjRqfGwdSj-uOLnGg5JvJ08jdzdUY&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>

                {% elif hotel.iataCode == 'CPT' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1jU6ev-qalJnIUBoz3mzHOt0jVFk5f58&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>

                {% elif hotel.iataCode == 'SYD' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=17QM967n-EzfYby7ZuFMD9xqLhmJrmls&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>

                {% elif hotel.iataCode == 'AMS' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=10Zz2P1KSgdMeHRj-4Dki0q2nKte4jT4&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>

                {% elif hotel.iataCode == 'PAR' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=179-Vz1zi-1lZuPk5ix6EaN8xfSkOBeE&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>

                {% elif hotel.iataCode == 'LON' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=12biJKJnJsDtnYPBYVcgYoR2xQlZ5k1s&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>

                {% elif hotel.iataCode == 'BCN' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Z0csGAh1H89vP3B6niXo7hQOmoV9B0s&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>

                {% elif hotel.iataCode == 'MEX' %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1zmigHpPeDKdCINJwaczUMP0vHl06WwA&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>

                {% else %}
                    <div class="info"><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1tR6pDKEpQ5LR9BUH0xTP9UtvsojW4Ig&ehbc=2E312F" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
                
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Latitude: </span></div>
            </td>

            <td>
                <div class="info"><span>{{hotel.latitude}}</span></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Longitude: </span></div>
            </td>
            <td>
                <div class="info"><span>{{hotel.longitude}}</span></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Hotel Rating: </span></div>
            </td>
            <td>
                <div class="info"><span>{{hotel.rating}} / 5</span></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Hotel Available Amenities:</span></div>
            </td>
            <td>
                <div class="info">
                    <ol>
                    {% for i in hotel.amenities %}
                        <li>{{i}}</li>
                    {% endfor %}
                    </ol> 
                </div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="attribute"><span>City: </span></div>
            </td>
            <td>
                <div class="info"><a href="{{url_for('city', iataCode=hotel.iataCode)}}">{{hotel.iataCode}}</a></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Find things to do near you (Activities):</span></div>
            </td>

            <td>
                {% for i in activity_list %}
                    {% if i.iataCode == hotel.iataCode %}
                        <div class="info"><a href="{{url_for('activity', activity_id=i.id)}}">{{i.name}}</a></div>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>    
    </table>
    </div>
    </div>
    {% endblock %}
</body>
</html>