<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <!-- Start: Javascript google map API Code -->
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "AIzaSyA683Ej_xTDN1_uL-_-oIHko5wMUqTxly4",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
        });
    </script>
    <!-- End: Javascript google map API Code -->
    <style>
        #name{
        	text-align: center
        }
        #map{
            text-align: center;
            height: 400px;
            width: 700px;
        }
        .info{
            text-align: center
        }
    </style>
    <title>This_Hotel</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <br>
    <div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
    <table class="table table-bordered table-sm">
        <tr>
            <td colspan="3">
                <h2 id="name">{{hotel.name}}</h2>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <!-- Start: Javascript google map API Code -->
                <div id="map">
                <script>
                    // turn dictionary from jinja to json file we can access in javascript 
                    this_hotel_json = {{ hotel | tojson }};
                    // print out latitude and longitude in console to make sure it is working properly 
                    console.log( parseFloat(this_hotel_json.longitude) );
                    console.log( parseFloat(this_hotel_json.latitude) );
                    async function initMap() {
                         // convert jinja var into js 
                         var longitudeVal = parseFloat(this_hotel_json.longitude);
                         var latitudeVal = parseFloat(this_hotel_json.latitude);
                         position = { lat: latitudeVal, lng: longitudeVal};
                         // create map 
                         const { Map } = await google.maps.importLibrary("maps");
                         map = new Map(document.getElementById("map"), {
                             center: position,
                             zoom: 15,
                             mapId: "CUR_MAP_ID",
                         });
                         // create marker where hotel is located 
                         const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
                         marker = new AdvancedMarkerElement({
                             map: map,
                             position: position,
                             title: "Hotel",
                         });
                    }
                    initMap();
                </script>
                </div>
                <!-- End: Javascript google map API Code -->
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Latitude: </span></div>
            </td>

            <td>
                <div class="info"><span>{{hotel.latitude}}</span></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Longitude: </span></div>
            </td>
            <td>
                <div class="info"><span>{{hotel.longitude}}</span></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Hotel Rating: </span></div>
            </td>
            <td>
                <div class="info"><span>{{hotel.rating}} / 5</span></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Hotel Available Amenities:</span></div>
            </td>
            <td>
                <div class="info">
                    <ol>
                    {% for i in hotel.amenities %}
                        <li>{{i}}</li>
                    {% endfor %}
                    </ol> 
                </div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="attribute"><span>City: </span></div>
            </td>
            <td>
                <div class="info"><a href="{{url_for('city', iataCode=hotel.iataCode)}}">{{hotel.iataCode}}</a></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Find things to do near you (Activities):</span></div>
            </td>

            <td>
                {% for i in activity_list %}
                    <div class="info"><a href="{{url_for('activity', activity_id=i)}}">{{activity_list[i].name}}</a></div>
                {% endfor %}
            </td>
        </tr>    
    </table>
    </div>
    </div>
    {% endblock %}
</body>
</html>