<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <meta charset="UTF-8">
    <style>
        #name{
        	text-align: center
        }
        .info{
            text-align: center
        }
    </style>
    <title>This_Hotel</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <br>
    <div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
    <table class="table table-bordered table-sm">

        <tr>
            <td colspan="3">
                <h2 id="name">{{hotel.name}}</h2>
            </td>
        </tr>

        <tr>
            <td colspan="3">
                {% if hotel.iataCode == 'BER' %}
                    <div class="info"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d315.01703455489513!2d13.40138634823243!3d52.511740478327035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851d80fbcb9ef%3A0x5d30bd0a4c4f9363!2sCosmo%20Hotel%20Berlin%20Mitte!5e0!3m2!1sen!2sus!4v1708568416194!5m2!1sen!2sus" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                {% elif hotel.iataCode == 'NYC' %}
                    <div class="info"><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3023.9167101806956!2d-74.01021999999999!3d40.71985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDQzJzExLjUiTiA3NMKwMDAnMzYuOCJX!5e0!3m2!1sen!2sus!4v1708568547765!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                {% else %}
                    <div class="info"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d961.5967937576752!2d2.327465824924946!3d48.865039082035125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66f37dc585251%3A0xe0a171bc7aaa5c94!2sLe%20Meurice!5e0!3m2!1sen!2sus!4v1708568988276!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Latitude: </span></div>
            </td>

            <td>
                <div class="info"><span>{{hotel.geoCode['latitude']}}</span></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Longitude: </span></div>
            </td>
            <td>
                <div class="info"><span>{{hotel.geoCode['longitude']}}</span></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Hotel Rating: </span></div>
            </td>
            <td>
                <div class="info"><span>{{hotel.rating}} / 5</span></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Hotel Available Amenities:</span></div>
            </td>
            <td>
                <div class="info">
                    <ol>
                    {% for i in hotel.amenities %}
                        <li>{{i}}</li>
                    {% endfor %}
                    </ol> 
                </div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="attribute"><span>City: </span></div>
            </td>
            <td>
                <div class="info"><a href="{{url_for('city', iataCode=hotel.iataCode)}}">{{hotel.iataCode}}</a></div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="attribute"><span>Find things to do near you (Activities):</span></div>
            </td>

            <td>
                {% for i in activity_list %}
                    {% if i.iataCode == hotel.iataCode %}
                        <div class="info"><a href="{{url_for('activity', activity_id=i.id)}}">{{i.city}}</a></div>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>    
    </table>
    </div>
    </div>

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>