<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        #name{
        	text-align: center
        }
        .info{
            text-align: center
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    </style>
    <title>Activity</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <br>
    <div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
    <table class="table table-bordered table-sm">
        <tr><td colspan="3"><h2 id="name">{{activity.name}}</h2></td></tr>
        <tr><td colspan="3">
            <div id="carouselActivity" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for picture in activity.pictures %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ picture }}" class="d-block w-100">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselActivity" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselActivity" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </td></tr>
        <tr>
            <td><div class="attribute"><span>Description</span></div></td>
            <td><div class="info"><span>{{activity.description|safe}}</span></div></td>
        </tr>
        {% if activity.rating %}
        <tr>
            <td><div class="attribute"><span>Rating</span></div></td>
            <td><div class="info"><span>{{activity.rating}}</span></div></td>
        </tr>
        {% endif %}
        <tr>
            <td><div class="attribute"><span>Price</span></div></td>
            <td><div class="info"><span>{{activity.price_amount}}</span>&nbsp<span class="info">{{activity.price_currencyCode}}</span></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>Booking</span></div></td>
            <td><div class="info"><a href="{{activity.bookingLink}}">Link</a></div></td>
        </tr>
        <tr>
            <td><div class="attribute"><span>City</span></div></td>
            <td><div class="info"><a href="{{url_for('city', iataCode=activity.iataCode)}}">{{activity.iataCode}}</a></div></td>
        </tr>

    </table>
    </div>
    </div>
    {% endblock %}

</body>
</html>