<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .main{
            margin:2%
        }
        .card-img-top{
            height:200px;
            object-fit: cover;
        }
        body { background: white !important; } /* #f8f9fa */


    </style>
    <title>Cities</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="main">
        <h1>Cities</h1>
        <div class="dropdown">
            {% set order = {'name': 'Name', 'population': 'Population', 'location': 'Country', 'id': 'None'} %}
            <button class="btn btn-primary  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort By: {{order[order_by]}}</button>
            <ul class="dropdown-menu">
                {% for i in order %}
                <li><a class="dropdown-item" href="{{url_for('cities', page=page, order_by=i, desc=desc, attr=attr, value=value, search=search)}}">{{order[i]}}</a></li>
                {% endfor %}
            </ul>
            {% set asc = {0: 'Ascending', 1: 'Descending'} %}
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Order By: {{asc[desc]}}</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('cities', order_by=order_by, desc=False)}}">Ascending</a></li>
                <li><a class="dropdown-item" href="{{url_for('cities', order_by=order_by, desc=True)}}">Descending</a></li>
            </ul>
        </div><br>
        <div class="row">
            {% for i in city_list %}
            <div class="col-sm-3 mb-3">
                <div class="card border shadow rounded">
                    <a href="{{url_for('city', iataCode=i)}}"><img class="card-img-top" src="{{city_list[i].pictures[0]}}" alt="Picture of {{city_list[i].name}}"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{url_for('city', iataCode=i)}}">{{city_list[i].name}}</a></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Population: {{"{:,.0f}".format(city_list[i].population)}}</li>
                        <li class="list-group-item">{{"Country: " + city_list[i].location}}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>