<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .main{
            margin:2%
        }
        .card-img-top{
            height:200px;
            object-fit: cover;
        }
        body { background: white !important; } /* #f8f9fa */
        .card-h{
            text-decoration: none;
            color: inherit;
        }
        .sub-menu:hover .filter-menu {
            display: block;
        }
    </style>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Cities</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div class="main">
        <h1>Cities</h1>
        <div class="row">
            <div class="dropdown col-auto">
                {% set order = {'name': 'Name', 'population': 'Population', 'location': 'Country', 'id': 'None'} %}
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort By: {{order[order_by]}}</button>
                <ul class="dropdown-menu">
                    {% for i in order %}
                    <li><a class="dropdown-item" href="{{url_for('cities', page=page, order_by=i, desc=desc, attr=attr, value=value, search=search)}}">{{order[i]}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="dropdown col-auto">
                {% set asc = {0: 'Ascending', 1: 'Descending'} %}
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Order By: {{asc[desc]}}</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('cities', page=page, order_by=order_by, desc=False, attr=attr, value=value, search=search)}}">Ascending</a></li>
                    <li><a class="dropdown-item" href="{{url_for('cities', page=page, order_by=order_by, desc=True, attr=attr, value=value, search=search)}}">Descending</a></li>
                </ul>
            </div>

            <div class="dropdown col-auto">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter By: {{order[attr]}} {{value}}</button>
                <ul class="dropdown-menu filter-menu">
                    <li class="sub-menu"><a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown">Country</a>
                        <ul class="dropdown-menu filter-menu">
                            {% for i in cont_list %}
                            <li><a class="dropdown-item" href="{{url_for('cities', page=1, order_by=order_by, desc=desc, attr='location', value=i, search=search)}}">{{i}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="{{url_for('cities', page=page, order_by=order_by, desc=False, attr='id', value=' ', search=search)}}">None</a></li>
                </ul>
            </div>
            <div class="col-auto">
                <div class="form-inline">
                    <form class="row" action="{{url_for('cities', page=1, order_by=order_by, desc=desc, attr=attr, value=value, search=search)}}" method="post">
                        <div class="col-md-10"><input type="text" class="form-control" name="search" placeholder="{{search}}"></div>
                        <div class="col-md-2"><button type="submit" class="btn btn-secondary">Search</button></div>
                    </form>
                </div>
            </div>
        </div><br>
        <div class="row">
            {% for i in city_list %}
            <div class="col-sm-3 mb-3">
                <div class="card border shadow rounded">
                    <a href="{{url_for('city', iataCode=i)}}"><img class="card-img-top" src="{{city_list[i].pictures[0]}}" alt="Picture of {{city_list[i].name}}"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{url_for('city', iataCode=i)}}" class="card-h">{{city_list[i].name}}</a></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Population: {{"{:,.0f}".format(city_list[i].population)}}</li>
                        <li class="list-group-item">{{"Country: " + city_list[i].location}}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>